<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVIONS</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/stylesheet.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  </head>
  <body>
    <div class="content">
      <div class="title2">
        This page is still under construction
      </div>
      <div class="gallery_objects" id="gallery">
        <div class="title2 left">Gallery</div>
        <div class="gallery_container">
          <div class="gallery-item">
            <div class="image">
              <img src="https://source.unsplash.com/random" alt="digital-art" class="gallery-img"></img>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div><hr></div>
      <div class="footer-stuff">
        <div class="footer-content">
          <a href="/gallery">Gallery</a>
        </div>
        <div class="footer-content">
          <a href="/">Home</a>
        </div>
      </div>
      <div class="credit_to" style="text-align:center">Credits</div>
      <div><hr style="width:10vw"></div>
      <div class="credits">
        <div class="credit_to">
          <a target="_blank" href="#">Designer</a>
        </div>
        <div class="credit_to">
          <a target="_blank" href="#">Plane Model</a>
        </div>
        <div class="credit_to">
          <a target="_blank" href="#">Designer</a>
        </div>
      </div>
    </footer>
  </body>
</html>
