body, html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

/** {
   outline: 1px solid red;
  }
*/
.ico {
  color: white;
  display: none;
}

nav {
  width: 90vw;
  height: 7vh;
  position: fixed;
  top:0;
  left: 5vw;
  margin: auto;
  padding: auto;
  background: #1b85fe;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 21;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
}

img {
  position: relative;
  z-index: 20;
  max-width:100%;
  max-height:100%;
}

.sect {
  background: white;
  height: 110vh;
  width: 100vw;
  margin: auto;
  padding-top: 5%;
  color: #777;
  max-width: 100%;
}

  .sect.blue {
    background: #1b85fe;
    color: #ffffff;
    height: 100vh;
  }

  .team-sect {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

.right {
  text-align: right;
  padding-right: 5%;
  padding-left: 40%;
}

.left {
  text-align: left;
  padding-left: 2%;
}

.center {
  text-align: center;
}

.nav-buttons {
  margin: auto;
  padding: 10px;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
  border-radius: 20px;
  text-decoration: none;
}
  .nav-buttons:hover{
    background: white;
    color: #1b85fe;
  }

.avions-logo {
  margin: auto;
  padding-top: 10%;
  width: 70vw;
  height: 70vh;
  z-index: 1;
}
  .avions-logo img {
    max-width: 30%;
    max-height: 30%;
    display:block;
    margin:auto;
  }

.title1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: black;
  font-size: 5em;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  z-index: 20;
  position: relative;
}

.title2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #00499c;
  font-size: 4em;
  padding-top: 3%;
  margin: auto;
  margin-right: 20px;
  z-index: 20;
  position: relative;
}

.title3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #00499c;
  font-size: 4em;
  margin: auto;
  z-index: 20;
  position: relative;
}

.title4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #00499c;
  font-size: 9em;
  z-index: 20;
  position: relative;
  text-align: right;
  padding-right: 3%;
  width: 40vw;
  height: 80vh;
}

.content1 {
  padding: 5%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.1em;
  margin: auto;
  z-index: 20;
  position: relative;
}
  .content1.right {
    text-align: right;
    padding-left: 20%;
  }
  .content1.left {
    text-align: left;
    padding-right: 20%;
  }
  .content1.bottom {
    padding-bottom: 20%;
  }
.subtitle {
  font-family: 'Montserrat', sans-serif;
  color: #c0c1c6;
  text-align: center;
  margin-top: 0;
  z-index: 20;
  position: relative;
}

.about-us {
    height: 75vh;
    width: 30vw;
    margin: auto;
    border-radius: 30px;
    background: #1b85fe;
    padding-top: 2%;
    overflow: auto;
}

  .about-us #line {
    margin: auto;
    background: white;
    height: 0.7vh;
    border-radius: 5px;
    width: 6vw;
    overflow: visible;
  }

  .about-us .content1 {
    font-size: 1em;
  }

.picture-frame {
  height: 35vh;
  width: 35vw;
  border-radius: 30px;
  position: absolute;
  top: 132vh;
  left: 31.5vw;
  padding-bottom: 10px;
}

  .picture-frame img {
    border-radius: 30px;
    height: 100%;
    width: 100%;
    border: 1vw solid #78d6ff;
    display:block;
  }

  .picture-frame .about-info {
    margin: auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
  }

.scroll-prompt {
  font-size: 1em;
  text-align: center;
  line-height: 50px;
  width: 100px;
  height: 50px;
  border-radius: 35px;
  display: none;
}
.prompt-side {
  margin-top: 1%;
  margin-left: 70%;
  opacity: 0.9;
  background-color: #78d6ff;
  color: #777;
}
.prompt-down {
  margin-top: -3%;
  margin-left: 50%;
  opacity: 0.9;
  background-color: #78d6ff;
  color: #777;
  z-index: 22;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
  margin: auto;
  margin-left: 3vh;
  margin-right: 3vh;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  height: 30vh;
  min-width: 300px;
  width: 20vw;
  background: white;
  border-radius: 2vh;
  margin: auto;
  margin-left: 3vh;
  display: inline-block;
  z-index: 20;
  position: relative;
  padding: 2%;
}

.card-title {
  color: black;
  height: 5vh;
  font-weight: 600;
  margin: auto;
  position: relative;

  padding-bottom: 4%;
  white-space: normal;
}

.card-text {
  color: #777;
  height: 20vh;
  margin: auto;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  white-space: normal;
}

.upcoming {
  height: 70vh;
  width: 40vw;
  margin: auto;
  margin-top: 5vh;
  border-radius: 30px;
  background: #1b85fe;
  overflow: auto;
}

  .upcoming .li {
    height: 10vh;
    width: 25vw;
    background: white;
    border-radius: 20px;
    padding: 3%;
    z-index: 0;
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 5vh;
    align-items:center;
    justify-content:center;
  }

.team-card-container {
  height: 80vh;
  width: 70vw;
  overflow: auto;
  list-style: none;
  padding: 0;
  padding-left: 3%;
  position: relative;
  z-index: 9;
}

.team-card-li {
  display: flex;
  justify-content: center;
  padding: 1rem;
  perspective: 1000px;
}

.team-card {
  background-color: transparent;
  height: 30vh;
  width: 280px;
  min-width: 280px;
  perspective: 1000px;
  margin: auto;
  margin-left: 0;
  margin-right: 5%;
}

.team-card-inner {
  width: 100%;
  height: 100%;
  background: #eaeaea;
  border-radius: 1vh;
  /*display: inline-block;*/
  z-index: 20;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

  .team-card-inner .photo-circle {
    background-color: #022c68;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin: auto;
    margin-top: 7%;
  }

  .team-card-inner .team-member-name {
    color: #333;
    padding-top: 5%;
    text-align: center;
    font-weight: bold;
  }

  .team-card-inner .team-member-info {
    color: #333;
    padding-top: 3%;
    text-align: center;
  }

  .team-card:hover .team-card-inner {
    transform: rotateY(180deg);
  }

  .team-card-front, .team-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

.team-card-back {
  line-height: 30vh;
  border-radius: 1vh;
  background-color: #eaeaea;
  color: white;
  transform: rotateY(180deg);
}

.contact-us {
  height: 70vh;
  width: 100vw;
  max-width: 100%;
}

.contact_box {
  height: 30vh;
  width: 40vw;
  border-radius: 30px;
  background: #1b85fe;
  padding-top: 2%;
  overflow: auto;
  margin-top: 2vh;
  margin-left: 10vh;
}

  .contact_box #contact_details {
    color: white;
    padding-left: 5%;
    padding-top: 5%;
    width: 50%;
    height: 50%;
    font-size: 1.5em;
  }

  .contact_box .contact_button {
    z-index: 20;
    position: relative;
    background: white;
    width: 30vh;
    height: 7vh;
    border-radius: 2vh;
    text-align: center;
    display: flex;
    margin: auto;
    margin-right: 4vh;
    align-items:center;
    justify-content:center;
    font-size: 150%;
    color: #777;
  }

  .contact_button:hover {
    cursor: pointer;
    /*color: white;
    background: #00499c;*/
    font-weight: 600;
  }

footer {
  margin: auto;
  width: 100%;
  height: 50vh;
  background: white;
  opacity: 0.6;
  color: #777;
  position: relative;
  z-index: 20;
}

.footer-stuff {
  position: relative;
  z-index: 20;
  height: 40vh;
  margin:auto;
}

.credits {
  position: relative;
  z-index: 20;
  background: #EEE;
  opacity: 0.7;
  height: 10vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.credit_to {
  position: relative;
  z-index: 20;
  margin: auto;
  padding: 10px;
  font-size: 1em;
}

  .credit_to a {
    position: relative;
    z-index: 20;
    text-decoration: none;
    color: black;
    font-weight: 600;
  }

  .credit_to a:hover {
    font-weight: 800;
  }

hr {
  margin: auto;
  max-width: 60vw;
}

@media screen and (max-width: 1470px) {
  .upcoming {
    width: 35vw;
    margin-top: 2vh;
  }
  .card-container {
    margin-top: 10vh;
  }
  .upcoming .li {
    width: 25vw;
  }
  .contact_box {
    height: 30vh;
    width: 50vw;
    border-radius: 30px;
    background: #1b85fe;
    padding-top: 2%;
    overflow: auto;
    margin-top: 5vh;
    margin-left: 6vh;
  }
    .contact_box #contact_details {
      color: white;
      padding-left: 8%;
      padding-top: 8%;
      width: 90%;
      height: 50%;
      display: flex;
      justify-content: center;
      font-size: 1.5em;
    }
  .team-sect {
    display: block;
  }
  .title4 {
    width: auto;
    font-size: 6em;
    z-index: 20;
    position: relative;
    text-align: center;
    height: auto;
  }
  .team-card-container {
    height: 80vh;
    width: 100%;
    margin-top: 2%;
    padding-left: 0;
  }
  .title2 {
    padding-top: 0%;
  }
  .contact_box {
    height: 28vh;
    width: 40vw;
  }
  .contact_box .contact_button {
    margin-bottom: 4vh;
  }
  .contact_box #contact_details {
    color: white;
    padding-left: 5%;
    padding-top: 5%;
    width: 70%;
    height: 50%;
    font-size: 1.4em;
  }
  .about-us {
      background: white;
      margin: inherit;
      width: auto;
  }
  .about-us #line {
    display: none;
  }
  .about-us .content1 {
    font-size: 1.1em;
    margin: auto;
    line-height: 1.6;
  }
  .picture-frame {
    height: 60vh;
    width: auto;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    top: 0;
    left: 0;
    margin: auto;
  }
    .picture-frame img {
      border-radius: 30px;
      height: 45vh;
      width: 80vh;
      border: 1vw solid #78d6ff;
      margin: auto;
    }
    .picture-frame .about-info {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 3%;
    background: #1b85fe;
    border-radius: 35px;
    margin: auto;
    width: 30vw;
    height: 50vh;
  }
  .credits {
    line-height: 10vh;
  }
}

@media screen and (max-width: 1215px) {
  .upcoming {
    width: 40vw;
  }
  .upcoming .li {
    width: 30vw;
  }
  .about-us {
    background: white;
    margin: inherit;
    width: auto;
  }
    .about-us .content1 {
      font-size: 1em;
      margin: auto;
      line-height: 1.6;
    }
  .picture-frame .about-info .title2 {
    font-size: 3.5em;
  }
  .contact_box #contact_details {
    color: white;
    padding-left: 5%;
    padding-top: 5%;
    width: 70%;
    height: 50%;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 1070px) {
  .upcoming {
    width: 45vw;
  }
  .upcoming .li {
    width: 35vw;
  }
  .about-us {
    background: white;
    margin: inherit;
    width: auto;
  }
    .about-us .content1 {
      font-size: 1em;
      margin: auto;
      line-height: 1.6;
    }
  .picture-frame .about-info .title2 {
    font-size: 3em;
  }
  .contact_box {
    height: 28vh;
    width: 50vw;
  }
  .contact_box .contact_button {
    margin-bottom: 4vh;
    font-size: 120%;
  }
  .contact_box #contact_details {
    color: white;
    padding-left: 5%;
    padding-top: 5%;
    width: 70%;
    height: 50%;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 939px) {
  .upcoming {
    min-width: 60%;
    width: 50vw;
  }
  .upcoming .li {
    min-width: 80%;
    width: 40vw;
  }
  .about-us {
      background: white;
      margin: inherit;
      width: auto;
  }
  .picture-frame .about-info .title2 {
    font-size: 2em;
  }
  .about-us .content1 {
    font-size: 1.05em;
    line-height: 1.2;
  }
  .picture-frame {
    flex-direction: column;
  }
    .picture-frame img {
      width: 70vh;
      height: calc(70vh / 16 * 9);
    }
    .picture-frame .about-info {
      margin-bottom: 30px;
      width: 80%;
      height: 25vh;
    }
  .contact_box {
    height: 25vh;
    width: 80vw;
  }
  .contact_box .contact_button {
    margin-bottom: 0;
  }
  .contact_box #contact_details {
    width: 90%;
  }
  .nav-buttons {
    font-size: 0.9em;
  }
  .title1 {
    font-size: 4.5em;
  }
  .title4 {
    font-size: 4em;
  }
  .avions-logo {
    padding-top: 20%;
  }
  .team-card {
    width: 260px;
    min-width: 260px;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media screen and (max-width: 600px) {
  nav{
    position: absolute;
  }
  .txt {
    display: none;
  }
  .ico {
    display: block;
  }
  .upcoming {
    min-width: 80%;
  }
  .upcoming .li {
    min-width: 80%;
  }
  .picture-frame .about-info .title2 {
    font-size: 2em;
  }
  .about-us .content1 {
    font-size: 1em;
    line-height: 1.1;
  }
  .picture-frame {
    flex-direction: column;
  }
    .picture-frame img {
      width: 65vh;
      height: calc(65vh / 16 * 9);
    }
  .title3 {
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .title1 {
    font-size: 3.5em;
  }
  .title4 {
    font-size: 3em;
  }
  .avions-logo {
    padding-top: 45%;
  }
  .about-us {
    padding-top: 20%;
  }
  .achievements {
    padding-top: 20%;
  }
  #upcoming {
    margin-top: 20px;
    padding-top: 20%;
  }
  #team {
    padding-top: 20%;
  }
  #contact {
    padding-top: 40%;
  }
  .contact_box{
    margin: auto;
    margin-top: 10px;
  }
  .team-card {
    min-width: 0;
  }
  .footer-stuff{
    padding-top: 20px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 500px) {
  .upcoming {
    min-width: 80%;
    max-height: 70%;
  }
  .picture-frame .about-info {
    width: 100%;
  }
  .picture-frame .about-info .title2 {
    font-size: 2em;
  }
  .about-us .content1 {
    font-size: 0.8em;
    line-height: 1.1;
  }
  .picture-frame {
    flex-direction: column;
    width: 90%;
  }
    .picture-frame img {
      width: 65vh;
      height: calc(65vh / 16 * 9);
    }
  .title3 {
    font-size: 2.5em;
  }
  .title2 {
    font-size: 2.5em;
  }
  .title1 {
    font-size: 2.5em;
  }
  .title4 {
    font-size: 3em;
  }
  .avions-logo {
    padding-top: 60%;
  }
  .about-us {
    padding-top: 20%;
  }
  .achievements {
    padding-top: 20%;
  }
  #upcoming {
    padding-top: 20px;
    margin: auto;
  }
  #team {
    padding-top: 20%;
  }
  #contact {
    padding-top: 40%;
  }
  .scroll-prompt {
    margin-top: 20px;
    display: block;
  }
  .team-card-inner .photo-circle {  
    height: 80px;
    width: 80px;
  }
}
